body{
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}

/* HEADER */
a {
    text-decoration-line: none;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}

a:hover{
    margin: 0 auto;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 50%;
}

header{
    height: 650px;
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
}

.container{
    width: 77%;
    margin: 0 auto;
}

.navbar{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.navbar-items{
    width: 34%;
    display: flex;
    justify-content: space-between;
}

.immersive-container{
    margin-top: 8%;
}

.immersive{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 570px;
    height: 200px;
    padding: 3.5%;
    border: 2px solid white;
}

/* INFO */
.info-padding{
    padding: 10% 0;
}

.text-container{
    background: white;
    width: 41%;
    padding: 5% 0 0 7%;
    float: right;
    position: relative;
    bottom: 295px;
}

.text-container h1{
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    letter-spacing: 2.5px;
}

.text-container p{
    color: hsl(0, 0%, 55%);
    margin-bottom: 0;
    line-height: 1.5;
}

/* CREATIONS */
.creations-size{
    height: 1168.28px;
}

.creations-wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 150px;
}

.creations-bar{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.creations-bar h1{
    font-size: 45px;
    color: black;
}

.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 1% 3%;
    letter-spacing: 2px;
}

.creations-grid{
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: 450px 450px;
    grid-gap: 2.5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
    padding: 1% 15%;
    display: flex;
    flex-direction: column-reverse;
    /* box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5); This is one of two ways to shade the bg img, second option is on next line */
    /* background:linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(http://lorempixel.com/800/600/nature/2); this is another way to shade the bg img */
}

.one{
    /* background-image: url(images/desktop/image-deep-earth.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-deep-earth.jpg);
}

.two{
    /* background-image: url(images/desktop/image-night-arcade.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-night-arcade.jpg);
}

.three{
    /* background-image: url(images/desktop/image-soccer-team.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-soccer-team.jpg);
}

.four{
    /* background-image: url(images/desktop/image-grid.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-grid.jpg);
}

.five{
    /* background-image: url(images/desktop/image-from-above.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-from-above.jpg);
}

.six{
    /* background-image: url(images/desktop/image-pocket-borealis.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-pocket-borealis.jpg);
}

.seven{
    /* background-image: url(images/desktop/image-curiosity.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-curiosity.jpg);
}

.eight{
    /* background-image: url(images/desktop/image-fisheye.jpg); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(images/desktop/image-fisheye.jpg);
}